extends layout

block content
    .container
        .row.col-xs-6.col-xs-offset-0.col-sm-6.col-sm-offset-0.col-md-6.col-md-offset-0#checkusernamediv
            br
            input#username.col-xs-4.col-sm-4.col-md-4.form-control(placeholder='choose an username')
            br
            br
            button#checkBtn.btn.btn-info.btn-sm(type='button') Check Username
            br
            br
            button#chataway.btn.btn-primary.btn-lg.btn-block(type='button') CHAT AWAY!
